[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
red-discordbot = {extras = ["postgres"], version = "*"}
discord = "*"
pip = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
